<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OpenIZ.Persistence.Data.MSSQL.Properties.Settings.OpenIZConnectionString"
            connectionString="Data Source=.;Initial Catalog=OpenIZ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OpenIZ.Persistence.Data.MSSQL.Properties.Settings.OpenIZ_TestConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\JustinFyfe\Source\Repos\openiz\OpenIZ.Persistence.Data.MSSQL.Test\OpenIZ_Test.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="OpenIZ.Persistence.Data.MSSQL.Properties.Settings.OpenIZConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\fyfej\Source\Repos\openiz\OpenIZ\Data\OpenIZ.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OpenIZ.Persistence.Data.MSSQL.Properties.Settings.OpenIZ_TestConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\fyfej\Source\Repos\openiz\OpenIZ.Persistence.Data.MSSQL.Test\OpenIZ_Test.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="OpenIZ.Persistence.Data.MSSQL.Properties.Settings.OpenIZConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\justi\Source\Repos\openiz\OpenIZ\Data\OpenIZ.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OpenIZ.Persistence.Data.MSSQL.Properties.Settings.OpenIZ_TestConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\justi\Source\Repos\openiz\OpenIZ.Persistence.Data.MSSQL.Test\OpenIZ_Test.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>