<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <marc.hi.ehrs.svc.core>
    <system>
      <device id="" name=""/>
    </system>
    <custodianship>
      <name></name>
      <id domain="" value=""/>
    </custodianship>
    <!-- Realm that the persistence engine is running within -->
    <jurisdiction>
      <name></name>
      <id domain="" value=""/>
      <defaultLanguageCode code="en"/>
    </jurisdiction>
    <serviceProviders>
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
</configuration>