<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0"/>
    <section name="openiz.persistence.data.mssql" type="OpenIZ.Persistence.Data.MSSQL.Configuration.SqlConfigurationSectionHandler, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
  </configSections>
  <openiz.persistence.data.mssql>
    <connectionManager readonlyConnection="TestDb" readWriteConnection="TestDb"/>
  </openiz.persistence.data.mssql>
  <marc.hi.ehrs.svc.core>
    <serviceProviders>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.Persistence.SecurityUserPersistenceService, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <connectionStrings>
    <add name="TestDb"
   connectionString="Data Source=(LocalDb)\v12.0;Initial Catalog=OpenIZ_Test; Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\OpenIZ_Test.mdf"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>