<?xml version="1.0" encoding="utf-8"?>

<!--
 - Copyright 2015-2016 Mohawk College of Applied Arts and Technology
 - 
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 - 
 - User: justi
 - Date: 2016-6-14
 -->
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0"/>
    <section name="openiz.persistence.data.ado" type="OpenIZ.Persistence.Data.ADO.Configuration.AdoConfigurationSectionHandler, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
      <!-- other provider entries elided -->
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="OpenIZ.Persistence.Data.ADO.Services.Persistence" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Persistence.Data.ADO.Services.Identity" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Core.Model.Map" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
  </system.diagnostics>
  <openiz.persistence.data.ado>
    <connectionManager readonlyConnection="TestDb" 
                       readWriteConnection="TestDb" 
                       traceSql="true"
                       provider="OpenIZ.Persistence.Data.ADO.Providers.PostgreSQLProvider, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
  </openiz.persistence.data.ado>
  <marc.hi.ehrs.svc.core>
    <serviceProviders>
      <!--<add type="OpenIZ.Persistence.Data.ADO.Services.SqlServerPersistenceService, OpenIZ.Persistence.Data.MSSQL, Version=0.6.0.0"/>-->
      <add type="OpenIZ.Persistence.Data.ADO.Services.AdoPolicyInformationService, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
      <add type="OpenIZ.Persistence.Data.ADO.Services.AdoRoleProvider, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
      <add type="OpenIZ.Persistence.Data.ADO.Services.AdoIdentityProvider, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
      <add type="OpenIZ.Core.Security.SHA256PasswordHashingService, OpenIZ.Core, Version=0.6.0.0"/>
      <add type="OpenIZ.Core.Security.LocalPolicyDecisionService, OpenIZ.Core, Version=0.6.0.0"/>
      <!--<add type="OpenIZ.Caching.Memory.MemoryCacheService, OpenIZ.Caching.Memory, Version=0.6.0.0"/>-->

    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <connectionStrings>
    <add name="TestDb" connectionString="server=localhost; database=openiz; user id=postgres; password=postgres; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=1; " providerName="Npgsql"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
