<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0"/>
    <section name="openiz.core" type="OpenIZ.Core.Configuration.ConfigurationSectionHandler, OpenIZ.Core, Version=0.6.0.0"/>
    <section name="openiz.caching.memory" type="OpenIZ.Caching.Memory.Configuration.ConfigurationSectionHandler, OpenIZ.Caching.Memory, Version=0.6.0.0"/>
    <section name="openiz.persistence.data.ado" type="OpenIZ.Persistence.Data.ADO.Configuration.AdoConfigurationSectionHandler, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
      <!-- other provider entries elided -->
    </DbProviderFactories>
  </system.data>
  <openiz.caching.memory autoRegister="true">
    <cacheTarget>
      <add type="OpenIZ.Core.Model.DataTypes.Concept, OpenIZ.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="OpenIZ.Core.Model.Entities.Place, OpenIZ.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="OpenIZ.Core.Model.Entities.ManufacturedMaterial, OpenIZ.Core.Model, Version=0.6.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
    </cacheTarget>
  </openiz.caching.memory>
  <openiz.core>
    <threading poolSize="16"/>
  </openiz.core>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="OpenIZ.OrmLite" switchValue="Error">
        <listeners>
          <add name="rollOver"/>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Persistence.Data.ADO" switchValue="Information">
        <listeners>
          <add name="rollOver"/>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Persistence.Data.ADO.Services.Identity" switchValue="Error">
        <listeners>
          <add name="console"/>
          <add name="rollOver"/>

        </listeners>
      </source>
      <source name="OpenIZ.Core.Model.Map" switchValue="Error">
        <listeners>
          <add name="console"/>
          <add name="rollOver"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      <add name="rollOver" type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="c:\temp\test.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning, Verbose" />
      </add>

    </sharedListeners>
  </system.diagnostics>
  <openiz.persistence.data.ado>
    <connectionManager readonlyConnection="TestDb" 
                       readWriteConnection="TestDb" 
                       traceSql="true"
                       autoInsertChildren="true"
                       provider="OpenIZ.OrmLite.Providers.PostgreSQLProvider, OpenIZ.OrmLite, Version=0.6.0.0"/>
  </openiz.persistence.data.ado>
  <marc.hi.ehrs.svc.core>
    <serviceProviders>
      <add type="OpenIZ.Persistence.Data.ADO.Services.AdoPersistenceService, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
      <add type="OpenIZ.Persistence.Data.ADO.Services.AdoPolicyInformationService, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
      <add type="OpenIZ.Persistence.Data.ADO.Services.AdoRoleProvider, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
      <add type="OpenIZ.Persistence.Data.ADO.Services.AdoIdentityProvider, OpenIZ.Persistence.Data.ADO, Version=0.6.0.0"/>
      <add type="OpenIZ.Core.Security.SHA256PasswordHashingService, OpenIZ.Core, Version=0.6.0.0"/>
      <add type="OpenIZ.Core.Security.LocalPolicyDecisionService, OpenIZ.Core, Version=0.6.0.0"/>
      <add type="OpenIZ.Caching.Memory.MemoryCacheService, OpenIZ.Caching.Memory, Version=0.6.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.ThreadPoolService, OpenIZ.Core, Version=0.6.0.0"/>

    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <connectionStrings>
    <add name="TestDb" connectionString="server=localhost; database=openiz; user id=postgres; password=postgres; pooling=true; MinPoolSize=10; MaxPoolSize=30; Timeout=1; " providerName="Npgsql"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
