<?xml version="1.0" encoding="utf-8"?>
<!--
 - Copyright 2015-2016 Mohawk College of Applied Arts and Technology
 - 
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 - 
 - User: justi
 - Date: 2016-6-14
 -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral"/>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0"/>
    <section name="openiz.persistence.data.mssql" type="OpenIZ.Persistence.Data.MSSQL.Configuration.SqlConfigurationSectionHandler, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
    <section name="openiz.messaging.imsi" type="OpenIZ.Messaging.IMSI.Configuration.ImsiConfigurationSectionHandler, OpenIZ.Messaging.IMSI, Version=1.0.0.0"/>
    <section name="openiz.messaging.risi" type="OpenIZ.Messaging.RISI.Configuration.RisiConfigurationSectionHandler, OpenIZ.Messaging.RISI, Version=1.0.0.0"/>
    <section name="openiz.authentication.oauth2" type="OpenIZ.Authentication.OAuth2.Configuration.ConfigurationSectionHandler, OpenIZ.Authentication.OAuth2, Version=1.0.0.0"/>
    <section name="openiz.core" type="OpenIZ.Core.Configuration.ConfigurationSectionHandler, OpenIZ.Core, Version=1.0.0.0"/>
    <section name="marc.hi.ehrs.svc.messaging.fhir" type="MARC.HI.EHRS.SVC.Messaging.FHIR.Configuration.ConfigurationSectionHandler, MARC.HI.EHRS.SVC.Messaging.FHIR, Version=2.0.0.0"/>
    <section name="openiz.messaging.ami" type="OpenIZ.Messaging.AMI.Configuration.AmiConfigurationSectionHandler, OpenIZ.Messaging.AMI, Version=1.0.0.0"/>
    <section name="openiz.caching.memory" type="OpenIZ.Caching.Memory.Configuration.ConfigurationSectionHandler, OpenIZ.Caching.Memory, Version=1.0.0.0"/>
    <section name="marc.hi.svc.core.timer" type="MARC.HI.EHRS.SVC.Core.Timer.Configuration.TimerConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core.Timer, Version=2.0.0.0"/>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="GS1BMS" behaviorConfiguration="gs1_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/gs1"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/gs1" binding="webHttpBinding" contract="GS1BMS" name="GS1BMS_Behavior" bindingConfiguration="gs1_binding"/>
      </service>
      <service name="MARC.HI.EHRS.SVC.Messaging.FHIR.Wcf.FhirServiceBehavior" behaviorConfiguration="fhir_Behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8080/fhir" />
          </baseAddresses>
        </host>
        <endpoint address="http://127.0.0.1:8080/fhir" contract="MARC.HI.EHRS.SVC.Messaging.FHIR.Wcf.IFhirServiceContract" binding="webHttpBinding" bindingConfiguration="fhir_Binding" />
      </service>
      <service name="OpenIZ.Authentication.OAuth2" behaviorConfiguration="oauth2_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/auth"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/auth" binding="webHttpBinding" name="OpenIZ.Authentication.OAuth2" contract="OpenIZ.Authentication.OAuth2" bindingConfiguration="oauth2_binding"/>
      </service>
      <service name="AMI" behaviorConfiguration="ami_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/ami"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/ami" binding="webHttpBinding" name="AMI" contract="AMI_1.0" bindingConfiguration="ami_binding"/>
      </service>
      <service name="IMSI" behaviorConfiguration="imsi_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/imsi"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/imsi" binding="webHttpBinding" name="IMSI" contract="IMSI_1.0" bindingConfiguration="imsi_binding"/>
      </service>
      <service name="RISI" behaviorConfiguration="risi_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/risi"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/risi" binding="webHttpBinding" name="RISI" contract="RISI_1.0" bindingConfiguration="risi_binding"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="ami_binding">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="fhir_Binding">
          <security mode="None" >
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="oauth2_binding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="gs1_binding">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="imsi_binding">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="risi_binding">
          <security mode="None">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>

        <behavior name="gs1_behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8080/gs1"/>
        </behavior>
        <behavior name="fhir_Behavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="False" httpGetUrl="http://127.0.0.1:8080/fhir" />
        </behavior>
        <behavior name="oauth2_behavior">
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="OpenIZ.Authentication.OAuth2.Wcf.ClientAuthorizationPolicy, OpenIZ.Authentication.OAuth2, Version=1.0.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="OpenIZ.Authentication.OAuth2.Wcf.ClientCredentialValidator, OpenIZ.Authentication.OAuth2, Version=1.0.0.0"/>
          </serviceCredentials>
        </behavior>
        <behavior name="imsi_behavior">
          <serviceDebug includeExceptionDetailInFaults="false" httpHelpPageEnabled="true" httpHelpPageUrl="http://0.0.0.0:8080/help/imsi"/>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="OpenIZ.Core.Wcf.Security.JwtTokenServiceAuthorizationManager, OpenIZ.Core, Version=1.0.0.0" >
            <authorizationPolicies>
              <add policyType="OpenIZ.Core.Wcf.Security.JwtTokenAuthorizationPolicy, OpenIZ.Core, Version=1.0.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
          </serviceCredentials>
        </behavior>
        <behavior name="ami_behavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="OpenIZ.Core.Wcf.Security.JwtTokenServiceAuthorizationManager, OpenIZ.Core, Version=1.0.0.0" >
            <authorizationPolicies>
              <add policyType="OpenIZ.Core.Wcf.Security.JwtTokenAuthorizationPolicy, OpenIZ.Core, Version=1.0.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceCredentials>
          </serviceCredentials>
        </behavior>
        <behavior name="risi_behavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="OpenIZ.Core.Wcf.Security.JwtTokenServiceAuthorizationManager, OpenIZ.Core, Version=1.0.0.0" >
            <authorizationPolicies>
              <add policyType="OpenIZ.Core.Wcf.Security.JwtTokenAuthorizationPolicy, OpenIZ.Core, Version=1.0.0.0"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="OpenIZ.Persistence.Data.MSSQL.Services.Persistence" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Persistence.Data.MSSQL.Services.Identity" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Caching.Memory" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Core.DataSet" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Messaging.AMI" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Messaging.IMSI" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Messaging.RISI" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Messaging.FHIR" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="MARC.HI.EHRS.SVC.Messaging.FHIR" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Authentication.OAuth2" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Core" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Core.Map" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Core.Wcf" switchValue="Verbose">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      <add name="rollOver" type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="openiz.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning" />
      </add>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="console" />
        <add name="rollOver" />
      </listeners>
    </trace>
  </system.diagnostics>
  <openiz.persistence.data.mssql>
    <connectionManager readonlyConnection="OpenIZ" readWriteConnection="OpenIZ" traceSql="false" keyedInserts="true"/>
  </openiz.persistence.data.mssql>
  <openiz.caching.memory autoRegister="true">
    <cacheTarget>
      <add type="OpenIZ.Core.Model.DataTypes.Concept, OpenIZ.Core.Model, Version=1.0.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
      <add type="OpenIZ.Core.Model.Entities.Place, OpenIZ.Core.Model, Version=1.0.0.0" maxAge="10:00:00:00" maxSize="2000">
        <seed>
          <add>statusConcept.mnemonic=ACTIVE</add>
        </seed>
      </add>
    </cacheTarget>
  </openiz.caching.memory>
  <openiz.authentication.oauth2>
    <!-- Tokens will be valid for 10 mins -->
    <token expiry="01:00:00:00" issuerName="http://localhost:8080/auth"/>
    <signature>

      <!--<certificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="d877626afbacb63993cfbd65fafcfef36ba6a4f1"/>-->
      <!--
      <certificate storeLocation="Local" storeName="" x509FindType="" findValue=""/>
      -->
      <symmetric key="7Xs2bnXWqkSGQcr3s5S92vl32I+URZCgQIi7BBTxWq0="/>
    </signature>
    <claims>
      <add claimType="http://openiz.org/claims/device-id"/>
      <add claimType="urn:oasis:names:tc:xacml:2.0:resource:resource-id"/>
      <add claimType="urn:oasis:names:tc:xacml:2.0:action:purpose"/>
      <add claimType="urn:oasis:names:tc:xspa:1.0:subject:facility"/>
      <add claimType="urn:oasis:names:tc:xspa:1.0:subject:organization-id"/>
      <add claimType="urn:oasis:names:tc:xacml:1.0:subject:subject-id"/>
    </claims>
    <scopes>
      <add name="http://localhost:8080/imsi"/>
      <add name="http://192.168.0.101:8080/imsi"/>
      <add name="http://192.168.0.102:8080/imsi"/>
      <add name="http://127.0.0.1:8080/imsi"/>
      <add name="http://192.168.250.224:8080/imsi"/>
      <add name="http://142.222.16.16:8080/imsi" />
      <add name="http://192.168.137.34:8080/imsi"/>
      <add name="http://192.168.0.107:8080/imsi"/>
    </scopes>
  </openiz.authentication.oauth2>
  <openiz.core>
    <security>
      <token realm="192.168.137.114">
        <audience>
          <add name="http://localhost:8080/imsi"/>
          <add name="http://192.168.0.102:8080/imsi"/>
          <add name="http://192.168.0.101:8080/imsi"/>
          <add name="http://192.168.250.224:8080/imsi"/>
          <add name="http://192.168.137.34:8080/imsi"/>
          <add name="http://142.222.16.16:8080/imsi" />
          <add name="http://127.0.0.1:8080/imsi"/>
          <add name="http://192.168.0.107:8080/imsi"/>
        </audience>
        <issuer>
          <add name="http://localhost:8080/auth" symmetricKey="7Xs2bnXWqkSGQcr3s5S92vl32I+URZCgQIi7BBTxWq0="/>
        </issuer>
      </token>
      <basic requireClientAuth="true" realm="192.168.0.102">
        <allowedClaims>
          <add claimType="urn:oasis:names:tc:xacml:2.0:action:purpose"/>
        </allowedClaims>
      </basic>
    </security>
  </openiz.core>
  <marc.hi.ehrs.svc.messaging.fhir>
    <service landingPage="C:\Program Files (x86)\Mohawk College\Client Registry\index.htm" wcfServiceName="MARC.HI.EHRS.SVC.Messaging.FHIR.WcfCore.FhirServiceBehavior" />
    <resourceProcessors>
      <add type="OpenIZ.Messaging.FHIR.Handlers.ImmunizationRecommendationResourceHandler, OpenIZ.Messaging.FHIR, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add type="OpenIZ.Messaging.FHIR.Handlers.ImmunizationResourceHandler, OpenIZ.Messaging.FHIR, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </resourceProcessors>
    <cors>
      <add resource="*" domain="*">
        <action>GET</action>
        <action>OPTIONS</action>
        <action>POST</action>
        <header>Accept</header>
        <header>Content-Type</header>
        <header>Content-Encoding</header>
        <header>Accept-Encoding</header>
      </add>
    </cors>
  </marc.hi.ehrs.svc.messaging.fhir>
  <openiz.messaging.imsi>
    <service wcfServiceName="imsiService"/>
  </openiz.messaging.imsi>
  <openiz.messaging.risi>
    <service wcfServiceName="risiService"/>
  </openiz.messaging.risi>
  <marc.hi.svc.core.timer>

  </marc.hi.svc.core.timer>
  <marc.hi.ehrs.svc.core>
    <serviceProviders>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.SqlServerPersistenceService, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.SqlPolicyInformationService, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.SqlRoleProvider, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.SqlIdentityProvider, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.SqlApplicationIdentityProvider, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Security.SHA256PasswordHashingService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Messaging.IMSI.ImsiMessageHandler, OpenIZ.Messaging.IMSI, Version=1.0.0.0"/>
      <add type="OpenIZ.Messaging.RISI.RisiMessageHandler, OpenIZ.Messaging.RISI, Version=1.0.0.0"/>
      <add type="OpenIZ.Messaging.AMI.AmiMessageHandler, OpenIZ.Messaging.AMI, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalConceptRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalPatientRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Authentication.OAuth2.OAuthMessageHandler, OpenIZ.Authentication.OAuth2, Version=1.0.0.0"/>
      <!--<add type="OpenIZ.Authentication.OAuth2.OAuthMessageHandler, OpenIZ.Authentication.OAuth2, Version=1.0.0.0"/>-->
      <add type="OpenIZ.Core.Security.LocalPolicyDecisionService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Persistence.DataInitializationService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.NullPhoneticAlgorithmHandler, OpenIZ.Core.PCL, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalSecurityRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalMaterialRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalPlaceRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalProviderRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalMetadataRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalActRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalAlertRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalOrganizationRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalIdentifierTypeRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalAssigningAuthorityRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalStockManagementRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalApplicationIdentityProviderService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalDeviceIdentityProviderService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Services.Impl.LocalEntityRepositoryService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Caching.Memory.MemoryCacheService, OpenIZ.Caching.Memory, Version=1.0.0.0"/>
      <add type="MARC.HI.EHRS.SVC.Core.Timer.TimerService, MARC.HI.EHRS.SVC.Core.Timer, Version=1.0.0.0"/>
      <add type="MARC.HI.EHRS.SVC.Messaging.FHIR.FhirMessageHandler, MARC.HI.EHRS.SVC.Messaging.FHIR, Version=2.0.0.0"/>
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <connectionStrings>
    <add name="OpenIZ" connectionString="Data Source=(LocalDb)\v12.0;Initial Catalog=OpenIZ; Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\OpenIZ.mdf; Min Pool Size=10" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
