<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.Configuration.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=2.0.0.0"/>
    <section name="openiz.persistence.data.mssql" type="OpenIZ.Persistence.Data.MSSQL.Configuration.SqlConfigurationSectionHandler, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
    <section name="openiz.messaging.imsi" type="OpenIZ.Messaging.IMSI.Configuration.ImsiConfigurationSectionHandler, OpenIZ.Messaging.IMSI, Version=1.0.0.0"/>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="IMSI" behaviorConfiguration="imsi_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8080/imsi"/>
          </baseAddresses>
        </host>
        <endpoint address="http://0.0.0.0:8080/imsi" binding="webHttpBinding" name="IMSI" contract="IMSI_1.0" bindingConfiguration="imsi_binding"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="imsi_binding">
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="imsi_behavior">
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="OpenIZ.Persistence.Data.MSSQL.Services.Persistence" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Persistence.Data.MSSQL.Services.Identity" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="OpenIZ.Messaging.IMSI" switchValue="Information">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="console"/>
      </listeners>
  </trace>
  </system.diagnostics>
  <openiz.persistence.data.mssql>
    <connectionManager readonlyConnection="TestDb" readWriteConnection="TestDb"/>
  </openiz.persistence.data.mssql>
  <openiz.messaging.imsi>
    <service wcfServiceName="imsiService"/>
  </openiz.messaging.imsi>
  <marc.hi.ehrs.svc.core>
    <serviceProviders>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.Persistence.SqlPersistenceService, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.SqlPolicyInformationService, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.SqlRoleProvider, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Persistence.Data.MSSQL.Services.SqlIdentityProvider, OpenIZ.Persistence.Data.MSSQL, Version=1.0.0.0"/>
      <add type="OpenIZ.Core.Security.SHA256PasswordHashingService, OpenIZ.Core, Version=1.0.0.0"/>
      <add type="OpenIZ.Messaging.IMSI.ImsiMessageHandler, OpenIZ.Messaging.IMSI, Version=1.0.0.0"/>
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <connectionStrings>
    <add name="TestDb" connectionString="Data Source=.;Initial Catalog=OpenIZ; Integrated Security=SSPI;Min Pool Size=10" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
